<p id="notice"><%= notice %></p>

<h1>Listing Evaluators</h1>

<table>
  <thead>
    <tr>
      <th>Initials</th>
      <th>Last name</th>
      <th>First name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @evaluators.each do |evaluator| %>
      <tr>
        <td><%= evaluator.initials %></td>
        <td><%= evaluator.last_name %></td>
        <td><%= evaluator.first_name %></td>
        <td><%= link_to 'Show', evaluator %></td>
        <td><%= link_to 'Edit', edit_evaluator_path(evaluator) %></td>
        <td><%= link_to 'Destroy', evaluator, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Evaluator', new_evaluator_path %>
