<p id="notice"><%= notice %></p>

<p>
  <strong>Initials:</strong>
  <%= @evaluator.initials %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @evaluator.last_name %>
</p>

<p>
  <strong>First name:</strong>
  <%= @evaluator.first_name %>
</p>

<%= link_to 'Edit', edit_evaluator_path(@evaluator) %> |
<%= link_to 'Back', evaluators_path %>
