

    <div class="panel panel-default">
      <div class="panel-body">
        <%= "#{@conversion.local_system_id}" %>
      </div>
   </div>
   
    <div class="panel panel-default">
      <div class="panel-body">
        <%= "#{@conversion.title}" %>
      </div>
   </div>
   
        <pre class="prettyprint linenums">
          <%= "#{@conversion.marc}" %>
        </pre>
   
        <pre class="prettyprint linenums">
          <%= "#{@conversion.bf}" %>
        </pre>
   
<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Panel heading</div>
  <div class="panel-body">
    <p>...</p>
  </div>

    <table class="table">   
      <% i = 0 %>
      <% ConversionIssue.where("conversion_id = #{@conversion.id}").find_each do |conv_issue| %>
        <% i += 1 %>
        <tr>
          <td><%= "#{i}. conversion_id: #{conv_issue.conversion_id} and issue_id: #{conv_issue.issue_id}" %></td>
          <td>
            <%= "Associated comment: #{conv_issue.comment}"%>
          </td>
          <td><%= link_to 'Edit', edit_conversion_issue_path(conv_issue) %></td>
        </tr>
      <% end %>
    </table>

  </div>

    <%= link_to 'New Conversion issue', new_conversion_issue_path %>

