<%= form_for(@conversion) do |f| %>
  <% if @conversion.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@conversion.errors.count, "error") %> prohibited this conversion from being saved:</h2>

      <ul>
      <% @conversion.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :local_system_id %><br>
    <%= f.text_field :local_system_id, :readonly => true %>
  </div>
  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title, :readonly => true %>
  </div>
  <div class="field">
    <%= f.label :marc %><br>
    <%= f.text_area :marc, :readonly => true %>
  </div>
  <div class="field">
    <%= f.label :bf %><br>
    <%= f.text_area :marc, :readonly => true %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
