
<h5>Local System ID</h5>
<div class="panel panel-default">
  <div class="panel-body">
    <%= "#{@conversion.local_system_id}" %>
  </div>
</div>

<p>Title</h5>
<div class="panel panel-default">
  <div class="panel-body">
    <%= "#{@conversion.title}" %>
  </div>
</div>

<h5>MARC/XML</h5>
<div class="panel panel-default">
<div class="panel-body" style="height:400px;overflow-y:scroll;width:100%;">
<pre style="background-color:white;border-style:hidden" class="prettyprint linenums">
<%= "#{@conversion.marc}" %>
</pre>
</div>
</div>

<h5>BIBFRAME RDF/XML</h5>
<div class="panel panel-default">
<div class="panel-body" style="height:400px;overflow-y:scroll;width:100%;">
<pre style="background-color:white;border-style:hidden" class="prettyprint linenums">
<%= "#{@conversion.bf}" %>
</pre>
</div>
</div>
   
<div class="panel panel-default">
  <div class="panel-heading">Issues</div>
  <div class="panel-body">
    <p>...</h5>
  </div>

    <table class="table">   
      <% i = 0 %>
      <% ConversionIssue.where("conversion_id = #{@conversion.id}").find_each do |conv_issue| %>
        <% i += 1 %>
        <tr>
          <td><%= "#{i}. conversion_id: #{conv_issue.conversion_id} and issue_id: #{conv_issue.issue_id}" %></td>
          <td>
            <%= "Associated comment: #{conv_issue.comment}"%>
          </td>
          <td><%= link_to 'Edit', edit_conversion_issue_path(conv_issue) %></td>
        </tr>
      <% end %>
    </table>

  </div>

    <%= link_to 'New Conversion issue', new_conversion_issue_path %>

