<p id="notice"><%= notice %></p>

<p>
  <strong>Local System ID:</strong>
  <%= @conversion.local_system_id %>
</p>

<p>
  <strong>Title:</strong>
  <%= @conversion.title %>
</p>

<p>
  <strong>Marc:</strong>
  <%= @conversion.marc %>
</p>

<p>
  <strong>Bf:</strong>
  <%= @conversion.bf %>
</p>

<%= link_to 'Edit', edit_conversion_path(@conversion) %> |
<%= link_to 'Back', conversions_path %>
