<%= form_for(@conversion_issue) do |f| %>
  <% if @conversion_issue.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@conversion_issue.errors.count, "error") %> prohibited this conversion_issue from being saved:</h2>

      <ul>
      <% @conversion_issue.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :conversion_id %><br>
    <%= f.number_field :conversion_id %>
  </div>
  <div class="field">
    <%= f.label :issue_id %><br>
    <%= f.number_field :issue_id %>
  </div>
  <div class="field">
    <%= f.label :comment %><br>
    <%= f.text_area :comment %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
